@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-red: rgb(217, 120, 28);
  --dark-green: hsl(180deg, 81%, 30%);
  --coupon-text: #ccffdd;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo-link {
  text-decoration: none;
  color: var(--dark-red);
}

.customers {
  width: 100%;
}

.title-color {
  color: var(--dark-red);
}

.card-text {
  font-size: 0.9rem;
  font-weight: 200;
}

.ul {
  color: var(--dark-green);
  list-style: none;
}

.coupon-bg, .coupon-bg-1 {
  color: var(--coupon-text);
  font-size: 1rem;
  font-weight: 300;
}

.coupon-bg {
  background-color: var(--dark-red);
}

.coupon-bg-1 {
  background-color: var(--dark-green);
}

.order-btn {
  background-color: var(--dark-green);
  color: #ccffdd;
}

.submit-btn {
  background-color: var(--dark-red);
  color: #ccffdd;
}
